{%  extends "plantilla.html" %}

{% block title %}
Edit your information
{% endblock %}

{% block content %}
<a href="/users/delete/{{modelo.users.0}}" class="btn btn-danger mb-3">Delete info</a>

<form action="/users/update" method="post">
    <div class="mb-3">
        <label for="InputId" class="form-label">Code</label>
        <input type="text" class="form-control" id="InputId" name="id_user" value="{{modelo.users.0}}" readonly>
    </div>
    <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="InputName" name="name" value="{{modelo.users.1}}">
    </div>
    <div class="mb-3">
        <label for="InputMenssage" class="form-label">Message</label>
        <input type="text" class="form-control" id="InputMessage" name="message"  value="{{modelo.users.2}}">
    </div>
    
    <div style="text-align: end;">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}